@import '../BaseStyles/variables';

.header__wrapper {
  background: $offpurple;
  height: 60px;


  .container, .header__title, .header__title h1 {
    height: 100%;
  }
  .header__title img {
    display:flex;
    height: 60%;
    padding: 12px 0;
  }
}